@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
  padding: 0;
}
:root {
  /* text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
  /* Typography */
  --regular: 400;
  --bold: 700;
  --font-size: 12px;
  /* background gradient */
  --background-gradient: linear-gradient(
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
body {
  background: var(--background-gradient);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  padding: 0 20px;
}
h1 {
  text-align: center;
  margin-bottom: 25px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: var(--Very-dark-grayish-blue);
  cursor: pointer;
}
li img {
  padding-left: 20px;
}
main {
  background-color: white;
  padding: 100px 50px 50px 50px;
  border-radius: 25px;
  width: 100%;
  position: relative;
}
.hidden {
  height: 0;
  opacity: 0;
}
p {
  margin-bottom: 20px;
  color: var(--Very-dark-grayish-blue);
}
li:focus {
  text-shadow: 1px 1px 0 var(--Very-dark-desaturated-blue);
  transition: all 1s linear;
  color: var(--Very-dark-desaturated-blue);
}
